name: Publish to GitHub Packages

on:
  workflow_dispatch: 
    
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew
      - name: Call my Gradle Task
        run: ./gradlew publish -DREPOSILITE_USER=${{ secrets.REPOSILITE_USER }} -DREPOSILITE_TOKEN=${{ secrets.REPOSILITE_TOKEN }}